@import '../../style/common.css';



.description
{
    height: 90%;
    width: 100%;

    padding: 1em;
    border-color: var(--main-color-5);
    border: solid 2px var(--main-color-3);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

    background-color: rgba(200,200,200,0.1);

    color: var(--main-color-5);
    font-size: 1.5em;
}

.description button{

  background-color: var(--main-color-3);
  border: 1px solid var(--main-color-4);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--main-color-5);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 0.75em;
  margin: 0;
  outline: none;
  padding: 0.75em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
}


