@import '../../style/common.css';



/****LAYOUT STYLE***********/
.menu-content
{
    height: 90vh;
    width: 100vw;

    padding: 1em;
    border-color: var(--main-color-5);
    border: solid 2px var(--main-color-3);

    display:grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px,auto);
    grid-template-areas: 
    "title title";
    overflow-y: auto;
    gap: 1em;
    max-height: calc(100vh - 20px); 

    background-color: rgba(200,200,200,0.1);

    color: var(--main-color-5);
    font-size: 1.5em;
}

.plat
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200,200,200,0.3);
    border: 1px solid gray;
    gap: 0.2em;  
}
.card-img{
    width: 100%;
    overflow: hidden; 
    border: 1px solid var(--main-color-5);
    
}
.card-text{
    padding: 0.2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    font-size: 1em;
}
.menu-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    background-color: var(--main-color-5);
    color: var(--main-color-1);
    font-size: 2em;
    grid-area: title;
}
/***********************/

/*****STATE STYLE********/
.plat:hover{
    transform:scale(1.05) ;
}
/************************/



